<!--The content below is only a placeholder and can be replaced. -->

<mat-toolbar color="primary">

  <button mat-icon-button *ngIf="shouldShowBackButton()" (click)="goUpState();"><mat-icon>arrow_back</mat-icon></button>
  <button mat-icon-button *ngIf="!shouldShowBackButton()" (click)="global.toolbarMenufct();"><mat-icon>menu</mat-icon></button>

  <span style="margin-left:10px;">{{computedTitle()}}</span>


  <span class="example-spacer"></span>

  <button [matTooltip]="'Die '+dataService.selectedSeason+'. Saison ist ausgewählt.'" 
          mat-button 
          [matMenuTriggerFor]="menu" 
          style="font-size: larger;min-width: 55px;color: #adfda4;"
          >

      <b>{{selectedSeasonTitle()}}</b>
      
  </button>

  <button mat-icon-button 
          *ngIf="auth.user() === null" 
          (click)="auth.login();">
          <mat-icon>face</mat-icon></button>
  <button [matTooltip]="'Eingeloggt als ' + auth.username() + ' unter Uid ' + auth.uid()" 
          mat-icon-button
          *ngIf="auth.user() !== null" 
          (click)="auth.logout();"><mat-icon>stop</mat-icon></button>

  <mat-menu #menu="matMenu">
    <mat-grid-list cols="5" gutterSize="3px">
      <mat-grid-tile *ngFor="let el of seasons" (click)="loadSeason(el)">
        <div>{{el}}</div>
      </mat-grid-tile>
      
      <mat-grid-tile (click)="loadSeason(9)" class="oldseason">
        <div>9</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(8)" class="oldseason">
        <div>8</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(7)" class="oldseason">
        <div>7</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(6)" class="oldseason">
        <div>6</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(-2)" class="oldseason">
        <div>I2</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(5)" class="oldseason">
        <div>5</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(-1)" class="oldseason">
        <div>I1</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(4)" class="oldseason">
        <div>4</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(3)" class="oldseason">
        <div>3</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(2)" class="oldseason">
        <div>2</div>
      </mat-grid-tile>

      <mat-grid-tile (click)="loadSeason(1)" class="oldseason">
        <div>1</div>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="auth.user() !== null" (click)="addSeason();" style="background:#99ff99">
         <mat-icon>add</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="auth.user() !== null" (click)="removeSeason();" style="background:#ff7070">
          <mat-icon>remove</mat-icon>
       </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>


</mat-toolbar>

<router-outlet></router-outlet>