
<mat-toolbar>

<div *ngIf="auth.user() !== null">
  <button mat-icon-button (click)="addGame()"><mat-icon>add</mat-icon></button>
</div>

<button mat-icon-button color="primary" (click)="toggleSort()">
    <mat-icon>sort</mat-icon>
  </button>

<div class="example-spacer"></div>

<div *ngIf="auth.user() !== null">
  <button mat-icon-button (click)="removeLastGame()"><mat-icon>remove</mat-icon></button>
</div>

</mat-toolbar>

<mat-tab-group [(selectedIndex)]="global.selectedIndexTabGroup">
  <mat-tab label="Klassement">
    <mat-card >            
      <mat-grid-list cols="5" gutterSize="3px" rowHeight="80px">
          <ng-container *ngFor="let elm of spieltagAcc as array; index as i;">
            <mat-grid-tile 
            [ngClass]="{'firstPlace first' : i == 0, 'otherPlace other' : i > 0 }">{{i+1}}.</mat-grid-tile>
            <mat-grid-tile [ngClass]="{'firstPlaceName first' : i == 0, 'otherPlaceName other' : i > 0 }" style="font-weight:bold;"> {{elm[0]}} </mat-grid-tile>
            <mat-grid-tile [ngClass]="{'firstPlacePoints first' : i == 0, 'otherPlacePoints other' : i > 0 }" style="font-weight:bold;"> {{elm[1]}} </mat-grid-tile>
            <mat-grid-tile [ngClass]="{'first' : i == 0, 'other' : i > 0 }"> 
              <span *ngIf="i > 0"> - </span>
              {{i > 0 ? array[0][1] - elm[1] : ''}}
            </mat-grid-tile>
            <mat-grid-tile [ngClass]="{'first' : i == 0, 'other' : i > 0 }"> 
              <mat-icon *ngIf="i > 0">call_made</mat-icon>
              {{i > 0 ? array[i-1][1] - elm[1] : ''}}
            </mat-grid-tile>
          </ng-container>          
        </mat-grid-list>
    </mat-card>
  </mat-tab>
  <mat-tab label="R1">
    <app-spieltag-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"></app-spieltag-table>
  </mat-tab>
  <mat-tab label="R2">
      <app-spieltag-table [dataSource]="dataSource2" [displayedColumns]="displayedColumns"></app-spieltag-table>
  </mat-tab>
  <mat-tab label="R3">
      <app-spieltag-table [dataSource]="dataSource3" [displayedColumns]="displayedColumns"></app-spieltag-table>
  </mat-tab>
</mat-tab-group>

<!--
<div *ngIf="auth.user() !== null" style="margin-top: 100px;">
<button mat-raised-button color="warn" (click)="removeLastGame()">Remove last game</button>
</div>
-->

